---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="watahaizian's Portfolio">
	<Header />
	<main>
		<Hero />
		<Projects />
		<Skills />
	</main>
	<Footer />
</Layout>
